<!doctype html>
<html lang="{{ handler.locale.code }}">
    <head>
        <title>
            {{ _("PT.CardReleases") }} - {{ _("PT.SiteName") }}
        </title>

        {% include t_preamble.html %}
    </head>
    <body class="kars-dark" data-master="{{ handler.settings["master"].version }}" data-inject="card">
        {% module Template("uim_nav.html", current="cards") %}
        
        <div class="container">
            <h1 class="h3 mb-3 kars-negative-box">
                {{ _("PT.CardReleases") }}
            </h1>
        </div>

        <div class="container has-gallery">
            {% for set in sets %}
                {% module Template("uim_gallery_record.html", set=set, server_id=server_id) %}
            {% end %}
        </div>

        {% if has_next_page %}
        <div class="container kars-negative-box">
            <a class="btn btn-primary" href="{{ handler.url_for_page(current_page + 1) }}">
                {{ _("More...") }}
            </a>
        </div>
        {% end %}

        {% include t_footer.html %}
    </body>
</html>
