<!doctype html>
<html lang="{{ handler.locale.code }}">
    <head>
        <title>{{ custom_title }} - {{ _("PT.SiteName") }}</title>
        
        {% include t_preamble.html %}

        {% module Template("ogm_cards.html", cards=cards, custom_title=custom_title, context=og_context) %}
    </head>
    <body data-master="{{ handler.settings["master"].version }}" data-inject="card">
        {% module Template("uim_nav.html", current="cards") %}

        <div class="container">
            <div class="kars-react-component kars-negative-box" data-component-class="CardDisplayModeSwitcher">
                <div class="mb-2" style="height: 32px"></div>
            </div>
        </div>
        
        {% for card in cards %}
            {% module Template("uim_card.html", card=card, related_sets=handler.find_sets(related_sets, card.id)) %}
        {% end %}

        {% include t_footer.html %}
    </body>
</html>
