<!doctype html>
<html lang="{{ handler.locale.code }}">
    <head>
        <title>{{ handler.get_status() }} - {{ _("PT.SiteName") }}</title>
        {% include t_preamble.html %}
    </head>
    <body data-master="{{ handler.settings["master"].version }}">
        {% module Template("uim_nav.html", current="error") %}

        <div class="container">
            <div class="card kars-card-box">
                <div class="card-body">
                    <p class="mb-0">
                        {{ message }}
                    </p>
                    
                    {% try %}
                        {% if traceback %} <pre>{{ traceback }}</pre> {% end %}
                    {% except NameError %}
                    {% end %}
                </div>
            </div>
        </div>

        {% include t_footer.html %}
    </body>
</html>