<!doctype html>
<html lang="{{ handler.locale.code }}">
    <head>
        <title>
            {{ _("PT.CardReleases") }} - {{ _("PT.SiteName") }}
        </title>

        {% include t_preamble.html %}

        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ _("OpengraphHistoryTitle{server_id}").format(server_id=server.upper()) }}" />
        <meta property="og:description" content="{{ _("OpengraphHistoryDescription") }}" />
    </head>
    <body data-master="{{ handler.settings["master"].version }}">
        {% module Template("uim_nav.html", current="cards") %}
        
        <div class="container">
            <h1 class="h3 mb-3 kars-negative-box">
                {{ _("PT.CardReleases") }}
            </h1>

            {% set prev_ent = None %}
            {% for release in releases %}
                {% if not prev_ent or prev_ent.nom_date().month != release.nom_date().month %}
                {% if prev_ent %}
                </div>
                {% end %}

                <h2 class="h4 mb-3 kars-negative-box">
                    {{ release.nom_date().strftime("%B %Y") }}
                </h2>
                <div class="kars-card-box">
                {% end %}

                {% module Template("uim_history_record.html", release=release, server=server, current_time=current_time) %}
                {% set prev_ent = release %}
            {% end %}
            </div>

            <nav class="pb-3">
                {% module Template("uim_paginate.html", current_page=current_page, num_pages=page_count, url_for_page=handler.url_for_page) %}
            </nav>
        </div>

        {% include t_footer.html %}
    </body>
</html>
