<!doctype html>
<html lang="{{ handler.locale.code }}">
    <head>
        <title>{{ _("PT.IdolList") }} - {{ _("PT.SiteName") }}</title>

        {% include t_preamble.html %}

        {% module Template("ogm_idols.html") %}
    </head>
    <body data-inject="card">
        {% module Template("uim_nav.html", current="idol_list") %}

        <div class="container">
            <div class="stretch-bar kars-negative-box">
                <h1 class="h3 mb-3">
                    {{ _("PT.IdolList") }}
                </h1>
                <span class="flexible-space"></span>
                <a class="icon icon-lg clickable ion-ios-search" href="/cards/search" title="{{ _("CardSetsForm.OpenTooltip") }}"></a>
            </div>
        </div>

        {% for group_name, members in member_groups.items() %}
        <div class="container">
            <h1 class="h4 mb-3 kars-negative-box">
                {% if subpage_type == "unit" %}
                    <a class="font-weight-light" href="/idols/group/{{ members[0].group }}">
                        {% raw tlinject_static(group_name) %}
                    </a> /
                    {% raw tlinject_static(members[0].subunit_name) %}
                {% elif subpage_type == "member" %}
                    {# nothing #}
                {% else %}
                    {% raw tlinject_static(members[0].group_name) %}
                {% end %}
            </h1>

            <div class="card kars-card-box">
            {% for member in members %}
                {% module Template("uim_member.html", member=member, show_all_card_icons=show_all_card_icons) %}
            {% end %}
            </div>
        </div>
        {% end %}

        {% include t_footer.html %}
    </body>
</html>
