<!doctype html>
<html lang="{{ handler.locale.code }}">
    <head>
        <title>{{ _("PT.IdolList") }} - {{ _("PT.SiteName") }}</title>

        {% include t_preamble.html %}

        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ _("OpengraphMembersTitle") }}" />
        <meta property="og:description" content="{{ _("OpengraphMembersDescription") }}" />
    </head>
    <body data-inject="card">
        {% module Template("uim_nav.html", current="idol_list") %}

        <div class="container">
            <div class="stretch-bar kars-negative-box">
                <h1 class="h3 mb-3">
                    {{ _("PT.IdolList") }}
                </h1>
                <span class="flexible-space"></span>
                <a class="icon icon-lg clickable ion-ios-search" href="/cards/search" title="{{ _("MemberList.SearchLabel") }}"></a>
            </div>
        </div>

        {% for group_name, members in member_groups.items() %}
        <div class="container">
            <h1 class="h4 mb-3 kars-negative-box">
                {% if subpage_type == "unit" %}
                    <a class="font-weight-light" href="/idols/group/{{ members[0].group }}">
                        {% raw tlinject_static(group_name) %}
                    </a> /
                    {% raw tlinject_static(members[0].subunit_name) %}
                {% elif subpage_type == "member" %}
                    {# nothing #}
                {% else %}
                    {% raw tlinject_static(members[0].group_name) %}
                {% end %}
            </h1>
            {% if subpage_type not in ["unit", "member"] %}
            <p class="mb-3 font-italic kars-negative-box">
                {% if members[0].group_name == "k.m_dic_group_name_muse" %}
                A legendary punk rock group from the United Kingdom whose hard style ruled the airwaves of decades past. 
                Although they no longer perform as a group, their music is fondly remembered by dads across the world.
                They should be in their forties now, but a temporal anomaly caused by Hope meeting her future self prevented them
                from aging past their teens.
                {% elif members[0].group_name == "k.m_dic_group_name_aqours" %}
                A country-pop group that coincidentally appeared at the same time, and in the same area, as the Georgia Mega Sinkhole in the 2050s.
                Their songs have become the unofficial anthem of weekenders across the world - ask anyone what "American music" is, 
                and they will mention Truckours without fail. They travel around the parts of the American South that remain habitable,
                bringing some much needed hope to the hearts of those scarred by time. 
                {% elif members[0].group_name == "k.m_dic_group_name_niji" %}
                Formerly nationally recognized, Rainbow Ridge High School's glee club fell into disarray after
                its key members graduated, leaving Cassie to pick up the pieces. With her friends (and sometimes rivals),
                she is fighting to put the otherwise unremarkable West Coast town back on the map.
                {% end %}
            </p>
            {% end %}

            <div class="card kars-card-box">
            {% for member in members %}
                {% module Template("uim_member.html", member=member, show_all_card_icons=show_all_card_icons) %}
            {% end %}
            </div>
        </div>
        {% end %}

        {% include t_footer.html %}
    </body>
</html>
