<!doctype html>
<html lang="{{ handler.locale.code }}">
    <head>
        <title>
            {% if is_single %}
                {{ news_items[0].title }} -
            {% end %}
            {{ _("PT.News") }} - {{ _("PT.SiteName") }}
        </title>

        {% include t_preamble.html %}

        {% module Template("ogm_news.html", items=news_items, server=server) %}
    </head>
    <body data-master="{{ handler.settings["master"].version }}">
        {% module Template("uim_nav.html", current="news") %}

        <div class="container">
            <div class="stretch-bar kars-negative-box">
                <h1 class="h3">
                    {% if has_offset or is_single %}
                    <a href="/{{ server }}/news">{{ _("PT.News") }}</a>
                    {% else %}
                    {{ _("PT.News") }}
                    {% end %}
                </h1>

                {% if not is_single %}
                <span class="flexible-space"></span>
                <div class="embedded-form">
                    <form method="get" action="/{{ server }}/news">
                        <div class="form-group row mx-0 mb-0">
                            <input name="before" class="form-control col mr-2" type="date" />
                            <input class="form-control col-2 btn btn-md btn-primary" type="submit" value="{{ _("NewsForm.Go") }}" />
                        </div>
                    </form>
                </div>
                {% end %}
            </div>
    
            <div class="card kars-card-box">
                {% for news_item in news_items %}
                    {% module Template("uim_news_item.html", news_item=news_item, server=server, expand=expand, show_ts_msg=show_ts_msg, time_offset=time_offset) %}
                {% end %}
    
                {% if has_next_page %}
                <div class="kars-list-alternate">
                    <div class="card-body">
                        <a class="btn btn-primary" href="/{{ server }}/news/?before={{ news_items[-1].timestamp() }}">{{ _("More...") }}</a>
                    </div>
                </div>
                {% end %}
            </div>
        </div>

        {% include t_footer.html %}
    </body>
</html>
