<meta property="og:type" content="website" />
<meta property="og:title" content="{{ custom_title }}" />

{% for card in cards[:4] %}
{% set Lext = "jpg" if card_has_full_bg(card) else "png" %}
<meta property="og:image" content="{{ card_icon_url(card, card.normal_appearance) }}" />
{% end %}

{% if context.get("type") == "member" %}
    {% set member = context["member"] %}
    <meta property="og:description" content="
        {{ _("OpengraphMemberDescription:{grade}:{group}:{subunit}:{num}") \
            .format(num=len(cards), 
                grade=format_grade(member.year), 
                subunit=tlinject_static(member.subunit_name, escape=False), 
                group=tlinject_static(member.group_name, escape=False)) }}" />
{% else %}
    {% if len(cards) == 1 %}
        {% set card = cards[0] %}
        {% set max_level_id = card.max_level - 1 %}
        {% set lb_appeal = card.stats[max_level_id].appeal + card.idolized_offset.appeal + card.tt_offset[0].appeal %}
        {% set lb_stamina = card.stats[max_level_id].stamina + card.idolized_offset.stamina + card.tt_offset[0].stamina %}
        {% set lb_tech = card.stats[max_level_id].technique + card.idolized_offset.technique + card.tt_offset[0].technique %}

        <meta property="og:description" content="
        {{ _("OpengraphCardDescription:{appeal}:{stamina}:{technique}:{role}:{attribute}:{group}:{subunit}:{grade}") \
            .format(appeal=lb_appeal, stamina=lb_stamina, technique=lb_tech, 
                role=tlinject_static(f"kars.clean_role_{card.role}", escape=False),
                attribute=tlinject_static(f"kars.clean_attribute_{card.attribute}", escape=False),
                grade=format_grade(card.member.year), 
                subunit=tlinject_static(card.member.subunit_name, escape=False), 
                group=tlinject_static(card.member.group_name, escape=False)) }}
        " />
    {% else %}
        <meta property="og:description" content="{{ _("OpengraphCardDescriptionMultiple") }}" />
    {% end %}
{% end %}