<!doctype html>
<html lang="{{ handler.locale.code }}">
    <head>
        <title>{{ tlinject_static(songs[0].name, escape=False) }} - {{ _("PT.SongSingle") }} - {{ _("PT.SiteName") }}</title>
        
        {% include t_preamble.html %}
    </head>
    <body>
        {% module Template("uim_nav.html", current="lives") %}

        {% for song in songs %}
            {% module Template("uim_song_difficulty.html", song=song) %}
        {% end %}

        {% include t_footer.html %}
    </body>
</html>
