<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="x-tlinject-langs" content="{{ tlinject_supported_languages() }}" />

<link href="{{ handler.static_url('vendor/ionicons.min.css') }}" rel="stylesheet" />

{% if handler.settings["debug"] %}
<link data-appearance="light" data-bg-color="#f2dbf8" 
    class="theme" rel="stylesheet" type="text/css" 
    href="{{ handler.settings["wds_host"] }}/static/css/theme-light.css">
<link data-appearance="dark" data-bg-color="#262336" 
    class="theme" rel="stylesheet" type="text/css" 
    media="(prefers-color-scheme: dark)" 
    href="{{ handler.settings["wds_host"] }}/static/css/theme-dark.css">
<script type="text/javascript" src="{{ handler.settings["wds_host"] }}/static/js/vendors~early~main.bundle.js"></script>
<script type="text/javascript" src="{{ handler.settings["wds_host"] }}/static/js/early.bundle.js"></script>
<script type="text/javascript" src="{{ handler.settings["wds_host"] }}/static/js/vendors~main.bundle.js" async></script>
<script type="text/javascript" src="{{ handler.settings["wds_host"] }}/static/js/main.bundle.js" async></script>
{% else %}
<link data-appearance="light" data-bg-color="#f2dbf8" 
    class="theme" rel="stylesheet" type="text/css" 
    href="{{ handler.static_url('css/theme-light.css') }}">
<link data-appearance="dark" data-bg-color="#262336" 
    class="theme" rel="stylesheet" type="text/css" 
    media="(prefers-color-scheme: dark)" 
    href="{{ handler.static_url('css/theme-dark.css') }}">
<script type="text/javascript" src="{{ handler.static_url('js/vendors~early~main.bundle.js') }}"></script>
<script type="text/javascript" src="{{ handler.static_url('js/early.bundle.js') }}"></script>
<script type="text/javascript" src="{{ handler.static_url('js/vendors~main.bundle.js') }}" async></script>
<script type="text/javascript" src="{{ handler.static_url('js/main.bundle.js') }}" async></script>
{% end %}

{% if handler.settings["have_preamble_extra"] %}
{% module Template("t_preamble_extra.html") %}
{% end %}
