<h1 class="h4 mb-1 kars-negative-box">
    {% raw tlinject(set.representative) %}
</h1>
<div class="card kars-card-box gallery-spread" data-expand-group-root>
    <div class="row">
        {% for member, card in handler.matrix_order(set) %}
        {% if card %}
        <div class="spread-component col-lg-4">
            {% include t_card_stats_box_lite.html %}
        </div>
        {% else %}
        <div class="spread-component col-lg-4">
            {% module Template("uim_gallery_member_placeholder.html", member=member) %}
        </div>
        {% end %}
        {% end %}

        <div class="spread-component col-4-lg flex-push-bottom">
            <a class="btn btn-primary btn-sm mr-2" 
                href="/card/{{ ",".join(str(x.ordinal) for x in set.card_refs) }}">{{ _("SetRecord.SeeCardDetailsButton") }}</a>
            <a class="btn btn-primary btn-sm t-expand-group-target">{{ _("SetRecord.ExpandAll") }}</a>
        </div>
    </div>

    <div class="kars-list-alternate">
        <div class="spread-gutter">
            {% if set.min_date %}
            {{ _("SetRecord.FirstFeaturedOn{server_id}").format(server_id=server_id.upper()) }}
            <span class="kars-data-ts" data-orig-offset="32400,JST" data-ts="{{ set.min_date.timestamp() }}">{{ set.min_date }} UTC</span>
            {% if set.max_date != set.min_date %}
            &bull;
            {{ _("SetRecord.LastFeatured") }}
            <span class="kars-data-ts" data-orig-offset="32400,JST" data-ts="{{ set.max_date.timestamp() }}">{{ set.max_date }} UTC</span>
            {% end %}
            {% end %}

            <span class="text-muted gallery-info-text">
            {% if set.set_type == 1 %}
                {{ _("SetRecord.SetTypeDescriptionDefault") }}
            {% elif set.set_type == 2 %}
                {{ _("SetRecord.SetTypeDescriptionEventPair") }}
            {% elif set.set_type == 3 %}
                {{ _("SetRecord.SetTypeDescriptionSong") }}
            {% elif set.set_type == 4 %}
                {{ _("SetRecord.SetTypeDescriptionOrdFes") }}
            {% elif set.set_type == 5 %}
                {{ _("SetRecord.SetTypeDescriptionPickup") }}
            {% end %}
            </span>
        </div>
        
    </div>
</div>