{% set has_any_unavailable = False %}
<h1 class="h4 mb-3 kars-negative-box">
    {% if set.is_systematic() %}
    {% raw tlinject_static(set.representative) %}
    {% else %}
    {% raw tlinject(set.representative) %}
    {% end %}

    {% if set.set_type == 2 %}
        <small>({{ set.format_event_date(handler.locale.translate("SetRecord.EventDateFormat")) }})</small>
    {% else %}
        {% set grp = handler.get_same_group_for_all_members(set) %}
        {% if grp is not None and set.set_type not in handler.SAME_GROUP_ORD_TYPES %}
        <small>(<a href="/idols/group/{{ grp }}">{% raw tlinject_static(f"kars.group_{grp}", escape=False) %}</a>)</small>
        {% end %}
    {% end %}
</h1>
<div class="card kars-card-box gallery-spread" data-expand-group-root>
    <div class="kars-list-alternate">
        <div class="row">
            {% for member, ref in handler.matrix_order(set) %}
            <div class="spread-component col-gsp">
                {% if ref %}
                {% module Template("uim_gallery_card.html", release_info=ref, card=ref.card, set_type=set.set_type, server_id=server_id) %}
                {% if not ref.release %} {% set has_any_unavailable = True %} {% end %}
                {% else %}
                {% module Template("uim_gallery_member_placeholder.html", member=member) %}
                {% end %}
            </div>
            {% end %}

            <div class="spread-component col-4-lg flex-push-bottom">
                <a class="btn btn-primary btn-sm mr-2" 
                    href="/cards/set/{{ set.name }}">{{ _("SetRecord.SeeCardDetailsButton") }}</a>
                <a class="btn btn-primary btn-sm t-expand-group-target">{{ _("SetRecord.ExpandAll") }}</a>
            </div>
        </div>
    </div>

    <div class="kars-list-alternate">
        <div class="spread-gutter">
            <span class="text-muted gallery-info-text">
            {% if set.set_type == 1 %}
                {{ _("SetRecord.SetTypeDescriptionDefault") }}
            {% elif set.set_type == 2 %}
                {{ _("SetRecord.SetTypeDescriptionEventPair") }}
            {% elif set.set_type == 3 %}
                {{ _("SetRecord.SetTypeDescriptionSong") }}
            {% elif set.set_type == 4 %}
                {{ _("SetRecord.SetTypeDescriptionOrdFes") }}
            {% elif set.set_type == 5 %}
                {{ _("SetRecord.SetTypeDescriptionPickup") }}
            {% elif set.set_type == 6 %}
                {{ _("SetRecord.SetTypeDescriptionParty") }}
            {% end %}

            {% if has_any_unavailable %}
                {{ _("SetRecord.UnavailableCardDescription{server_id}").format(server_id=server_id.upper()) }}
            {% end %}
            </span>
        </div>
        
    </div>
</div>