.criteria-list
    margin: -0.5rem
    text-align: center

    .criteria-button
        margin: 0.5rem
        width: 110px
        height: 76px

    .criteria-icon 
        margin-bottom: 0.3rem
        .icon
            font-size: 2rem

    .criteria-label
        margin: 0
        font-size: 80%
        font-weight: bold
        text-overflow: ellipsis
