<!doctype html>
<html lang="{{ handler.locale.code }}">
    <head>
        <title>Hi</title>

        {# Unfortunately since we changed the template path you need to include from the original path like this #}

        {% include ../../../webui/t_preamble.html %}

        <script type="text/javascript" src="{{ handler.static_url("extra.js") }}" async></script>
        <link rel="stylesheet" href="{{ handler.static_url("extra.css") }}" />
    </head>
    <body data-master="{{ handler.settings["master"].version }}">
        {% module Template("../../../webui/uim_nav.html", current="cards") %}

        {% raw tlinject_static(name) %}

        {% include ../../../webui/t_footer.html %}
    </body>
</html>
