$font-family-sans-serif:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI", "MS PGothic",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$body-color: hsl(0, 0%, 20%);
$kars-navbar-item-color: lighten($body-color, 10%);
$kars-navbar-item-hover-color: $body-color;

$body-bg: hsl(311, 66%, 92%);

$kars-stack-background: #fff;
$kars-stack-border: rgba(10, 10, 10, 0.1);
$kars-skill-bg-active: #ffd2d2;
$kars-skill-bg-passive: #cbd9ff;

$card-bg: hsl(313, 100%, 99%);
$card-bg-alt: darken($card-bg, 2%);

$kars-var-color: hsl(120, 100%, 25%);
$kars-var-color-alt: hsl(197, 100%, 25%);

$kars-attr-colors: darken(#ff3fb6, 10%) darken(#05c159, 10%) darken(#00aeff, 10%) darken(#fe4646, 10%) darken(#ffb400, 10%) darken(#bc4dd6, 10%);
$kars-role-colors: darken(#fe4646, 10%) darken(#00aeff, 10%) darken(#05c159, 10%) darken(#ffb400, 10%); 
$kars-stat-colors: #ff3fb6 #05c159 #ffb400;
$kars-stat-critical-rate-text: #684c00;
$kars-stat-critical-rate-super-text: darken(#fe4646, 10%);

$kars-tt-placeholder-bg: $card-bg-alt;

$kars-box-highlight-color: rgba(10, 10, 10, 0.1);

$kars-gutter-bg: hsla(311, 15%, 20%, 0.5);
$kars-gutter-text: white;
$kars-gutter-select-bg: white;
$kars-gutter-select-text: black;

$ongoing-event-text: #ce4c4c;

$input-bg: hsla(274, 26%, 95%, 0.9);
$input-disabled-bg: scale-color($input-bg, $lightness: -8%);

$gutter-menu-border: scale-color($body-bg, $lightness: -20%, $saturation: -80%);

$pagination-border-color: scale-color($body-bg, $lightness: -10%, $saturation: -80%);
$pagination-hover-border-color:     $pagination-border-color;
$pagination-active-border-color:    $pagination-border-color;
$pagination-disabled-bg:            scale-color($body-bg, $lightness: +50%);
$pagination-disabled-border-color:  $pagination-border-color;

$nav-menu-bg: change-color($card-bg, $alpha: 0.95);
$nav-menu-separator: rgba(10, 10, 10, 0.2);

@import "inc/bootstrap-slim.sass";
@import "inc/custom-layout.sass";
@import "inc/stack.sass";
@import "inc/sprites.sass"; 
@import "inc/aspect-ratio.sass";
@import "inc/training-tree.sass";
@import "inc/news.sass";
@import "inc/story.sass";
@import "inc/adjustments.sass";
@import "inc/modal.sass";
@import "inc/gallery.sass";
@import "inc/gutter.sass";
@import "inc/search.sass";

// ------ OVERRIDES ------
@include media-breakpoint-up(sm) {
  .nav-submenu.open {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
}